/Atv1_ContadorVogalConsoante/nbproject/private/
/Atv1_ContadorVogalConsoante/build/
/Atv1_ContadorVogalConsoante/dist/
/Atv2_ListaServlet_DivisaoConta/nbproject/private/
/Atv2_ListaServlet_DivisaoConta/build/
/Atv2_ListaServlet_DivisaoConta/dist/
/Atv3_ListaServlet_ZeroACem/nbproject/private/
/Atv3_ListaServlet_ZeroACem/build/
/Atv3_ListaServlet_ZeroACem/dist/


# Created by https://www.gitignore.io/api/java,java-web

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Java-Web ###
## ignoring target file
target/


# End of https://www.gitignore.io/api/java,java-web
/Atv4_VariacaoContaLetras/nbproject/private/
/Atv4_VariacaoContaLetras/build/
/Atv5_QuadradoMagico/nbproject/private/
/Atv5_QuadradoMagico/build/
/QuadradoMagicoServlets/nbproject/private/
/QuadradoMagicoServlets/build/
/BoaSorteSockets/nbproject/private/
/BoaSorteSockets/build/
/ArrayInSocket/nbproject/private/
/DivisaoConta_JSP/nbproject/private/
/DivisaoConta_JSP/build/
/QuadradoMagico_JSP/nbproject/private/
/QuadradoMagico_JSP/build/
/CRUD_JSP/nbproject/private/
/CRUD_JSP/build/
/CRUD-JSP-JDBC/nbproject/private/
/CRUD-JSP-JDBC/build/
/Crud-Blioteca-JSP-JDBC/nbproject/private/
/Crud-Blioteca-JSP-JDBC/build/